name: ⚠️ Release

on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0
      - uses: taiga-family/ci/actions/setup/variables@v1.164.0
      - uses: taiga-family/ci/actions/setup/node@v1.164.0
      - run: npm run release
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
